.vscode/
.spyproject/
__pycache__/
database/
test*/
img/
test*.py
creator.py
*.log
*.bat
*.code-workspace
*.zip
prmpsmart_temp.py
text.txt
tx.py
page/
prmp_pics/
libs/
compiled/
build/
dist/
*.spec
Output/
!gitgam.bat
2048/
prmp_setup_workspace/