.vscode/
.spyproject/
__pycache__/
database/
test*/
img/
test*.py
creator.py
*.log
*.bat
*.code-workspace
*.zip
*.pyd
*.c
*.jpg
*.png
*.gif
*.ico
*.xbm

build/
c/
pyd/
dist/



prmpsmart_temp.py
text.txt
tx.py
page/
libs/
*.spec
Output/
!gitgam.bat
